@font-face {
    src: url("../fonts/MuseoSansCyrl500.ttf");
    font-family: "MuseoSansCyrl-Regular";
}
@font-face {
    src: url("../fonts/MuseoSansCyrl700.ttf");
    font-family: "MuseoSansCyrl-Bold";
}

body {
    margin: 0;
    font-family: "MuseoSansCyrl-Regular", sans-serif;
    color: #333333;
}

a {
    color: #6933DC;
}

/* Шапка */
.header {
    padding: 40px 0;
    border-bottom: 1px solid #DCDCF3;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.logo {
    text-decoration: none;
}

.logo span {
    font-size: 30px;
    color: #6933DC;
    position: relative;
}

.logo span span {
    font-family: "MuseoSansCyrl-Bold", sans-serif;
}

.logo span img {
    position: absolute;
    top: 0;
    right: -4%;
    width: 20px;
}
/* Заголовок большой */
.big-title {
    font-family: "MuseoSansCyrl-Bold", sans-serif;
    font-size: 54px;
    line-height: 65px;
}

.big-title span {
    color: #6933DC;
}

/* Заголовок поменьше */
.common-title {
    font-family: "MuseoSansCyrl-Bold", sans-serif;
    font-size: 48px;
    line-height: 58px;
}

.common-title span {
    color: #6933DC;
}

/* Картинка */
.common-image img {
    width: 100%;
}

/* Кнопка */
.button {
    padding: 14px 35px;
    background-color: #6933DC;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    transition: 0.4s;
    text-decoration: none;
}

a.button {
    display: inline-block;
}

.button:hover {
    background-color: #330d85;
}

.button:disabled {
    background-color: #E2DFE7;
    cursor: not-allowed;
}

.button-transparent {
    background-color: transparent;
    color: #6933DC;
    border: 1px solid #6933DC;
}

.button-transparent:hover {
    background-color: #6933DC;
    color: #FFFFFF;
}

.button-transparent:disabled {
    background-color: transparent;
    color: #E2DFE7;
    border: 1px solid #E2DFE7;
}

/* Ссылка со стрелкой */
.arrowed-link {
    display: flex;
    justify-content: flex-end;
}

.arrowed-link a {
    font-size: 17px;
    line-height: 20px;
    color: #6933DC;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 13px;
}

.arrowed-link a:hover {
    text-decoration: underline;
}

.arrowed-link img {
    width: 8px;
}

/* Вопросы квиза */
.common-question-title {
    font-size: 36px;
    font-family: "MuseoSansCyrl-Bold", sans-serif;
    line-height: 43px;
}

.common-question-title span {
    color: #6933DC;
}

.common-question-option {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    display: flex;
    gap: 13px;
    align-items: center;
}

.common-question-option label {
    cursor: pointer;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 3px solid #6933DC;
    border-radius: 50%;
    margin: unset;
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: inset 10px 10px #6933DC;
    transition: .2s ease transform;
    transform: scale(0);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

/* Подвал */
.footer {
    padding: 40px 0;
    text-align: center;
    font-size: 13px;
    line-height: 16px;
    color: #DCDCF3;
}