<section class="test">
    <div class="container">
        <div class="test-pre-title" id="test-pre-title"></div>
        <div class="test-progress" id="test-progress"></div>
        <div class="test-question">
            <div class="test-question-title" id="test-question-title"></div>
            <div class="test-question-options" id="test-question-options"></div>
        </div>
        <div class="test-actions">
            <div class="test-previous-action">
                <button class="button button-transparent" id="prev-answer" disabled>Назад</button>
            </div>
            <div class="test-timer">
                <div class="test-timer-text">Осталось времени:</div>
                <div class="test-timer-clock" id="test-timer-clock">60</div>
            </div>
            <div class="test-next-action">
                <button class="button button-transparent" id="next-answer" disabled>Дальше</button>
            </div>
        </div>
        <div class="pass-question common-image">
            <a href="javascript:void(0)" id="pass-answer">Пропустить вопрос <img src="static/images/small-arrow.png" alt="Стрелка"></a>
        </div>
    </div>
</section>
